In [1]:
# Challenge Part 2
# Have Customers Narrow Their Travel Searches Based on Temperature and Precipitation

In [2]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [3]:
city_data_df = pd.read_csv("data/WeatherPy_Database.csv")
city_data_df

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,dobson,1,US,clear sky,61,36.40,-80.72,82.00,0.00,0.0,6.93
1,1,kapaa,40,US,scattered clouds,74,22.08,-159.32,82.40,0.00,0.0,8.05
2,2,mar del plata,75,AR,broken clouds,57,-38.00,-57.56,51.80,0.00,0.0,8.05
3,3,bredasdorp,1,ZA,clear sky,82,-34.53,20.04,59.00,0.00,0.0,14.99
4,4,mount isa,0,AU,clear sky,37,-20.73,139.50,53.60,0.00,0.0,6.93
...,...,...,...,...,...,...,...,...,...,...,...,...
585,585,bilma,0,NE,clear sky,10,18.69,12.92,93.72,0.00,0.0,5.57
586,586,takestan,0,IR,clear sky,53,36.07,49.70,73.40,0.00,0.0,4.70
587,587,hearst,100,CA,light rain,62,49.68,-83.67,59.13,0.15,0.0,13.71
588,588,bereda,75,ES,broken clouds,82,43.27,-7.54,63.00,0.00,0.0,3.36
589,589,majenang,77,ID,broken clouds,91,-7.30,108.76,71.82,0.00,0.0,1.66

In [4]:
city_data_df.dtypes

City_ID                  int64
City                    object
Cloudiness               int64
Country                 object
Current Description     object
Humidity                 int64
Lat                    float64
Lng                    float64
Max Temp               float64
Rain (inches)          float64
Snow (inches)          float64
Wind Speed             float64
dtype: object

In [5]:
# configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# Enter max temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your vacation"))
max_temp = float(input("What is the maximum temperature you would like for your vacation"))

What is the minimum temperature you would like for your vacation60
What is the maximum temperature you would like for your vacation90

In [7]:
# Ask the customer if you want it to be raining
rain_amount = input("Do you want it to be raining? (yes/no)")

Do you want it to be raining? (yes/no)no

In [8]:
snow_amount = input("Do you want it to be snowing? (yes/no)")

Do you want it to be snowing? (yes/no)no

In [9]:
if rain_amount == "no" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] == 0) &
                                         (city_data_df["Snow (inches)"] == 0)]
elif rain_amount == "no" and snow_amount == "yes":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] == 0) &
                                         (city_data_df["Snow (inches)"] >= 0.0)]
elif rain_amount == "yes" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] > 0.0) &
                                         (city_data_df["Snow (inches)"] == 0)]
else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] > 0.0) &
                                         (city_data_df["Snow (inches)"] > 0)]

In [10]:
filtered_cities_df

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,dobson,1,US,clear sky,61,36.40,-80.72,82.00,0.0,0.0,6.93
1,1,kapaa,40,US,scattered clouds,74,22.08,-159.32,82.40,0.0,0.0,8.05
6,6,bandarbeyla,99,SO,overcast clouds,74,9.49,50.81,80.85,0.0,0.0,31.16
9,9,cabedelo,20,BR,few clouds,61,-6.98,-34.83,82.40,0.0,0.0,13.87
10,10,nikolskoye,0,RU,clear sky,56,59.70,30.79,73.40,0.0,0.0,2.24
...,...,...,...,...,...,...,...,...,...,...,...,...
581,581,shingu,94,JP,overcast clouds,95,33.73,135.98,73.99,0.0,0.0,6.08
583,583,yuancheng,100,CN,overcast clouds,51,36.65,107.79,72.97,0.0,0.0,2.39
586,586,takestan,0,IR,clear sky,53,36.07,49.70,73.40,0.0,0.0,4.70
588,588,bereda,75,ES,broken clouds,82,43.27,-7.54,63.00,0.0,0.0,3.36
589,589,majenang,77,ID,broken clouds,91,-7.30,108.76,71.82,0.0,0.0,1.66

In [11]:
filtered_cities_df.count()

City_ID                352
City                   352
Cloudiness             352
Country                352
Current Description    352
Humidity               352
Lat                    352
Lng                    352
Max Temp               352
Rain (inches)          352
Snow (inches)          352
Wind Speed             352
dtype: int64

In [12]:
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,dobson,1,US,clear sky,61,36.40,-80.72,82.00,0.0,0.0,6.93
1,1,kapaa,40,US,scattered clouds,74,22.08,-159.32,82.40,0.0,0.0,8.05
6,6,bandarbeyla,99,SO,overcast clouds,74,9.49,50.81,80.85,0.0,0.0,31.16
9,9,cabedelo,20,BR,few clouds,61,-6.98,-34.83,82.40,0.0,0.0,13.87
10,10,nikolskoye,0,RU,clear sky,56,59.70,30.79,73.40,0.0,0.0,2.24
...,...,...,...,...,...,...,...,...,...,...,...,...
581,581,shingu,94,JP,overcast clouds,95,33.73,135.98,73.99,0.0,0.0,6.08
583,583,yuancheng,100,CN,overcast clouds,51,36.65,107.79,72.97,0.0,0.0,2.39
586,586,takestan,0,IR,clear sky,53,36.07,49.70,73.40,0.0,0.0,4.70
588,588,bereda,75,ES,broken clouds,82,43.27,-7.54,63.00,0.0,0.0,3.36
589,589,majenang,77,ID,broken clouds,91,-7.30,108.76,71.82,0.0,0.0,1.66

In [13]:
hotel_df = filtered_cities_df[["City", "Country", "Current Description","Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,dobson,US,clear sky,82.00,36.40,-80.72,
1,kapaa,US,scattered clouds,82.40,22.08,-159.32,
6,bandarbeyla,SO,overcast clouds,80.85,9.49,50.81,
9,cabedelo,BR,few clouds,82.40,-6.98,-34.83,
10,nikolskoye,RU,clear sky,73.40,59.70,30.79,

In [14]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat}, {lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel Not found ... skipping ...")

Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...
Hotel Not found ... skipping ...

In [15]:
hotel_df.head()

,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,dobson,US,clear sky,82.00,36.40,-80.72,Beagles Bed & Breakfast
1,kapaa,US,scattered clouds,82.40,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
6,bandarbeyla,SO,overcast clouds,80.85,9.49,50.81,REER XOOSHLE GROUP
9,cabedelo,BR,few clouds,82.40,-6.98,-34.83,Lua Mansa Pousada
10,nikolskoye,RU,clear sky,73.40,59.70,30.79,Tourist House - Sablino

In [16]:
output_data_file = "./data/WeatherPy_Vacation.csv"
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
vacation_df = pd.read_csv("./data/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,0,dobson,US,clear sky,82.00,36.40,-80.72,Beagles Bed & Breakfast
1,1,kapaa,US,scattered clouds,82.40,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
2,6,bandarbeyla,SO,overcast clouds,80.85,9.49,50.81,REER XOOSHLE GROUP
3,9,cabedelo,BR,few clouds,82.40,-6.98,-34.83,Lua Mansa Pousada
4,10,nikolskoye,RU,clear sky,73.40,59.70,30.79,Tourist House - Sablino

In [20]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} at {Max Temp}F</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [21]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))