In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Conde,-7.26,-34.91,296.15,88,20,2.60,BR,2020-06-25 02:18:20
1,1,Tuskegee,32.42,-85.69,295.37,100,100,2.24,US,2020-06-25 02:18:20
2,2,Butaritari,3.07,172.79,302.14,75,32,5.80,KI,2020-06-25 02:18:21
3,3,Vaini,-21.20,-175.20,298.15,73,75,3.60,TO,2020-06-25 02:18:21
4,4,Bengkulu,-3.80,102.27,301.05,63,13,0.40,ID,2020-06-25 02:18:21

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 100
What is the maximum temperature you would like for your trip? 400

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Conde,-7.26,-34.91,296.15,88,20,2.60,BR,2020-06-25 02:18:20
1,1,Tuskegee,32.42,-85.69,295.37,100,100,2.24,US,2020-06-25 02:18:20
2,2,Butaritari,3.07,172.79,302.14,75,32,5.80,KI,2020-06-25 02:18:21
3,3,Vaini,-21.20,-175.20,298.15,73,75,3.60,TO,2020-06-25 02:18:21
4,4,Bengkulu,-3.80,102.27,301.05,63,13,0.40,ID,2020-06-25 02:18:21
5,5,Geraldton,-28.77,114.60,290.15,59,0,6.70,AU,2020-06-25 02:18:21
6,6,Whitehorse,60.72,-135.05,289.15,31,75,8.70,CA,2020-06-25 02:14:35
7,7,Bredasdorp,-34.53,20.04,280.15,93,0,1.84,ZA,2020-06-25 02:18:21
8,8,Baiao,-2.79,-49.67,296.56,94,96,0.82,BR,2020-06-25 02:18:22
9,9,Soto,-32.81,-61.40,282.15,81,70,7.70,AR,2020-06-25 02:18:22

In [11]:
preferred_cities_df.count()

City_ID       542
City          542
Lat           542
Lng           542
Max Temp      542
Humidity      542
Cloudiness    542
Wind Speed    542
Country       539
Date          542
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp    Lat     Lng Hotel Name
0       Conde      BR    296.15  -7.26  -34.91
1    Tuskegee      US    295.37  32.42  -85.69
2  Butaritari      KI    302.14   3.07  172.79
3       Vaini      TO    298.15 -21.20 -175.20
4    Bengkulu      ID    301.05  -3.80  102.27
5   Geraldton      AU    290.15 -28.77  114.60
6  Whitehorse      CA    289.15  60.72 -135.05
7  Bredasdorp      ZA    280.15 -34.53   20.04
8       Baiao      BR    296.56  -2.79  -49.67
9        Soto      AR    282.15 -32.81  -61.40

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found")

Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found

In [14]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Conde,BR,296.15,-7.26,-34.91,Pousada Beija Flor
1,Tuskegee,US,295.37,32.42,-85.69,Kellogg Hotel & Conference Center
2,Butaritari,KI,302.14,3.07,172.79,Isles Sunset Lodge
3,Vaini,TO,298.15,-21.20,-175.20,Keleti Beach Resort
4,Bengkulu,ID,301.05,-3.80,102.27,Grage Hotel Bengkulu
...,...,...,...,...,...,...
537,Cumpas,MX,310.16,29.98,-109.78,Hotel La Palma
538,Fukue,JP,298.15,32.69,128.84,Goto Guesthouse Utojuku & SA Car Rental
539,Predivinsk,RU,296.62,57.07,93.44,
540,Angoram,PG,305.54,-4.06,144.07,
541,Corinto,GR,295.93,37.94,22.96,Ephira Hotel

In [15]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))